
<div class="box tabular">
    
    <% tracker_ids = Tracker.all %>
    <p>
      <%= label_tag('settings[rstc_tracker]', l(:label_rstc_tracker)) %>
      <%= select_tag('settings[rstc_tracker]', options_for_select(tracker_ids.collect{|c| [c.name, c.id]}.insert(0, ""), @settings['rstc_tracker'])) %>
    </p>
    <% cf_ids = CustomField.where(type: 'TimeEntryCustomField') %>
    <p>
      <%= label_tag('settings[rstc_cf]', l(:label_rstc_cf)) %>
      <%= select_tag('settings[rstc_cf]', options_for_select(cf_ids.collect{|c| [c.name, c.id]}.insert(0, ""), @settings['rstc_cf'])) %>
    </p>

</div>
