
<div class="box tabular">
    
    <% tracker_ids = Tracker.all %>
    <p>
      <%= label_tag('settings[rstc_tracker]', l(:label_rstc_setting_tracker_id)) %>
      <%= select_tag('settings[rstc_tracker]', options_for_select(tracker_ids.collect{|c| [c.name, c.id]}, @settings['rstc_tracker'])) %>
    </p>
      
  <%= submit_tag l(:button_save) %>

</div>
